@import './styles/base/_variables.scss';

button:hover, a:hover {
  cursor: pointer;
}

h1 {
  font-family: $font-heading;
  font-size: 144px;
  color: $color-white;
  font-weight: normal;
  letter-spacing: 0px;
  text-transform: uppercase;
  line-height: 170px;
}

h5 {
  font-family: $font-subheading;
  font-size: 28px;
  color: $color-light-blue;
  letter-spacing: 4px;
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 34px;
  white-space: nowrap;
}

.page-main-section {
  display: flex;
  flex-direction: column;
  padding: 48px 200px;
  gap: 24px;
}

.page-title {
  display: flex;
  flex-direction: row;
  gap: 24px;
  color: $color-light-gray;
  font-weight: bold;
}

.page-title p {
  color: $color-white;
  font-weight: normal;
}

@media (max-width: 1024px) {

  .page-title {
    font-size: 20px;
  }

}

@media (max-width: 576px) {

  .page-title {
    gap: 12px;
    font-size: 16px;
    justify-content: center;
  }

}