// colors

$color-dark-blue: rgb(11, 13, 23);
$color-light-blue: rgb(208, 214, 249);
$color-white: rgb(255, 255, 255);
$color-light-gray: rgba(255, 255, 255, 0.6);
$color-gray: rgba(255, 255, 255, 0.5);

// fonts

$font-heading: 'Bellefair', serif;
$font-subheading: 'Barlow Condensed', sans-serif;
$font-body: 'Barlow', sans-serif;